<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="LibrarySetting" type="LibraryConfigUtilities.ConfigurationSectionHandler, LibraryConfigUtilities"/>
	</configSections>
	<LibrarySetting>
		<Country Culture="tr-TR" Currency="TRY" DailyPenaltyFee="5,25" PenaltyAppliesAfter="3">
			<WeekendSetting>
				<Weekend Day="6"/>
				<Weekend Day="0"/>
			</WeekendSetting>
			<HolidaySetting>
				<Holiday Date="25.11.2009"/>
				<Holiday Date="26.11.2009"/>
				<Holiday Date="27.11.2009"/>
			</HolidaySetting>
		</Country>
		<Country Culture="ar-AE" Currency="AED" DailyPenaltyFee="8.00" PenaltyAppliesAfter="4">
			<WeekendSetting>
				<Weekend Day="5"/>
				<Weekend Day="6"/>
			</WeekendSetting>
			<HolidaySetting>
				<Holiday Date="25.11.2009"/>
				<Holiday Date="26.11.2009"/>
				<Holiday Date="27.11.2009"/>
			</HolidaySetting>
		</Country>
	</LibrarySetting>
</configuration>